### Preliminary setup

In [ ]:
%pip install pyarrow

In [29]:
import pandas as pd             # For data transformation
import glob                     # For loading all Parquet files

from functools import reduce

### Reading Parquet files

In [25]:
bpi_parquet_files = glob.glob('base-datasets/BPI/*.parquet')
bpi_dfs = [pd.read_parquet(data) for data in bpi_parquet_files]

In [ ]:
for x in bpi_dfs:
    print(x)

In [28]:
print([x.shape for x in bpi_dfs])

[(143165, 14), (92204, 18), (35718, 10), (522409, 12), (100000, 3)]

Since the dimensions of each file are different, we merge entries with matching CUSTOMER_ID values to a central dataset.

In [37]:
# bpi_merged = reduce(lambda left, right: pd.merge(left, right, on='CUSTOMER_ID', how='inner'), bpi_dfs)
# bpi_merged

,CUSTOMER_ID,CC_ACCOUNT_ID,CC_CARD_ID,CARD_TYPE,PAYMENT_BEHAVIOR,CREDIT_LIMIT,TOTAL_BALANCE,CURRENT_MONTH_BILLING,REVOLVING_BALANCE,CREDIT_CARD_LOAN,...,AUTO_LOAN_INDICATOR,HOUSING_LOAN_INDICATOR,PERSONAL_LOAN_INDICATOR,BB_LOAN_INDICATOR,LIFE_INSURANCE_INDICATOR,NONLIFE_INSURANCE_INDICATOR,INVESTMENT_INDICATOR,CURRENT_MONTH_y,CUSTOMER_GROUP,CUSTOMER_SEGMENT
0,5.962607e+07,8.115176e+07,7.420716e+06,Regular Visa,paid before or on the billing period,350001.67,1.67,1.67,1.67,1.67,...,0,0,1,0,1,1,1,10/2023,RETAIL,Tier 3
1,5.962607e+07,8.115176e+07,7.420716e+06,Regular Visa,paid before or on the billing period,350001.67,1.67,1.67,1.67,1.67,...,0,0,1,0,1,1,1,11/2023,RETAIL,Tier 3
2,5.962607e+07,8.115176e+07,7.420716e+06,Regular Visa,paid before or on the billing period,350001.67,1.67,1.67,1.67,1.67,...,0,0,1,0,1,1,1,12/2023,RETAIL,Tier 3
3,5.962607e+07,8.115176e+07,7.420716e+06,Regular Visa,paid before or on the billing period,350001.67,1.67,1.67,1.67,1.67,...,0,0,1,0,1,0,1,01/2024,RETAIL,Tier 3
4,5.962607e+07,8.115176e+07,7.420716e+06,Regular Visa,paid before or on the billing period,350001.67,1.67,1.67,1.67,1.67,...,0,0,1,0,1,0,1,02/2024,RETAIL,Tier 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456219,8.806429e+07,7.193047e+07,5.216183e+07,EMV Corporate Mastercard,paid before or on the billing period,99999.48,-0.52,-0.52,-0.52,-0.52,...,0,0,0,0,0,0,0,11/2023,RETAIL,Tier 5
1456220,8.806429e+07,7.193047e+07,5.216183e+07,EMV Corporate Mastercard,paid before or on the billing period,99999.48,-0.52,-0.52,-0.52,-0.52,...,0,0,0,0,0,0,0,12/2023,RETAIL,Tier 5
1456221,8.806429e+07,7.193047e+07,5.216183e+07,EMV Corporate Mastercard,paid before or on the billing period,99999.48,-0.52,-0.52,-0.52,-0.52,...,0,0,0,0,0,0,0,01/2024,RETAIL,Tier 5
1456222,8.806429e+07,7.193047e+07,5.216183e+07,EMV Corporate Mastercard,paid before or on the billing period,99999.48,-0.52,-0.52,-0.52,-0.52,...,0,0,0,0,0,0,0,02/2024,RETAIL,Tier 5
1456223,8.806429e+07,7.193047e+07,5.216183e+07,EMV Corporate Mastercard,paid before or on the billing period,99999.48,-0.52,-0.52,-0.52,-0.52,...,0,0,0,0,0,0,0,03/2024,RETAIL,Tier 5

In [39]:
bpi_merged = bpi_merged.drop('CURRENT_MONTH_y', axis=1)

In [40]:
bpi_merged = bpi_merged.drop_duplicates()

In [41]:
bpi_merged.shape

(323532, 52)

In [43]:
bpi_merged.to_csv('try.csv')

In [44]:
bpi_merged.shape

(323532, 52)